<h1> Form </h1>
<form method="post" action="/coursesBySubject">
    subject <input type="text" name="subject">
    <br>
    term <input type="text" name="term">
    <br>
    <input type="submit">
</form>