<h1> Contacts </h1>

<table class="table table-bordered table-striped">
    <thead>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
          <th>comments</th>
      </thead>
      <tbody>
          <% for(contact of contacts){%> 
          <tr> 
              <td> <%= contact.name %> </td> 
              <td><%= contact.email %> </td>
              <td><%= contact.phone %> </td>
              <td><%= contact.comment %> </td> 
          </tr>
          <% } %>
      </tbody>
  </table>

<hr>
<h1>Add New Contact</h1>
<form method="post" action="/exam5">
    <input type="text" name="name"> - name
    <br>
    <input type="text" name="email"> - email
    <br>
    <input type="text" name="phone"> - phone
    <br>
    <p>comments:</p>
    <textarea name="comment"></textarea>
    <br>
    <input type="submit">
</form>