<h3>Welcome to Allison's Page</h3>

<p>Eventually this will be a website where you can easily build cross-stitching patterns</p>
<hr>
<a href="/paletteNew"> palette new</a>
<hr>
<a href="/paletteShow"> palette show</a>

<hr>
<a href="/uploadDBPalette"> upload all colors</a>
<hr>

