<h3>Welcome to Allison's Page</h3>

<p>Eventually this will be a website where you can easily build cross-stitching patterns</p>
<hr>
<a href="/paletteNew"> view palette new</a>
<hr>
<a href="/uploadDBPalette"> upload all colors</a>
<hr>

