<h3>Welcome to Allison's Page</h3>

<p>Eventually this will be a website where you can easily build cross-stitching patterns</p>
<p>but for now you can easily build and preview palettes!</p>
<hr>
<a href="/paletteNew"> Search for a Color</a>
<hr>
<a href="/paletteShow"> Show Palette</a>
<hr>
