
<h2> Choose the Color to Browse </h2>
<hr>
<form method="post" action="/paletteNew">
    <select name="colorCategory" style="background-color: #FAD4D4">
        <option>red</option>
        <option>orange</option>
        <option>yellow</option>
        <option>green</option>
        <option>blue</option>
        <option>purple</option>
        <option>pink</option>
        <option>brown</option>
        <option>black</option>
        <option>white</option>
        <option>grey</option>
    </select>
    <hr>
    <input type="submit">
    <hr>
</form>