<h3>No pattern building mechanism yet</h3>

<hr>
<a href="/palette"> add a color</a>
<hr>
<a href="/paletteShow"> view palette</a>
<hr>


<h4>here is a dog</h4>

<img 
    src="<%= dogs.message %>" 
    alt="random dog image">

    <pre><%= JSON.stringify(dogs,null,5) %> </pre>

<h3>OR</h3>

<h4>learn about a cocktail</h4>
<form method="post" action="/pattern">
    Enter a cocktail: <input type="text" name="cocktail">
    <br>
    <input type="submit">
</form>

