<h3>COSI 152 things</h3>
<hr>
<a href="/simpleform"> go to simple form</a>
<hr>
<a href="/BMI"> go to BMI</a>
<hr>
<a href="/dist"> go to distance calculator</a>
<hr>
<a href="/showRepos/allisonchanin"> go to repos</a>
<hr>
<a href="/meals"> go to meals</a>
<hr>
<a href="/showIngredients"> go to ingredients</a>

